## SQLite
```
$ sqlite3 user.db

> CREATE TABLE user (
> id integer primary key autoincrement,
> name text not null,
> age integer,
> lang text);

> INSERT INTO user ( name, age, lang)
> VALUES ('Sam Smith', 27, 'python');

> .tables
user
> SELECT * FROM user;
1|Sam Smith|27|python
>.exit
```

In [4]:
#import sqlite3
import sqlite3 as lite


#db connect
conn = lite.connect('../users.db')
print("DB Connected!!\n")
#create cursor from connection
cur = conn.cursor()
#execute sql query 
cur.execute("select * from users")

# fetch data
rows = cur.fetchall()
for row in rows:
    print(row)
    
# close the connection
conn.close()

DB Connected!!

(1, 'Sam Smith', 24, 'english')
(2, 'Mary Jane', 21, 'clang')
(3, 'Tony Stark', 50, 'jarvis')
(4, 'Steve Rogers', 32, 'english')
(5, 'Taehwan Yang', 35, 'cplus')

In [2]:
cur = conn.cursor()
# insert data
cur.execute("INSERT INTO users (name, age, lang) \
VALUES ('Mary Jane', 21, 'clang')")
cur.execute("INSERT INTO users (name, age, lang) \
VALUES ('Tony Stark', 50, 'jarvis')")
cur.execute("INSERT INTO users (name, age, lang) \
VALUES ('Steve Rogers', 32, 'english')")
cur.execute("INSERT INTO users (name, age, lang) \
VALUES ('Taehwan Yang', 35, 'cplus')")

cur.execute("SELECT * FROM users")
rows = cur.fetchall()
for row in rows:
    print(row)
# 작업내용 반영
conn.commit()
conn.close()

(1, 'Sam Smith', 24, 'english')
(2, 'Mary Jane', 21, 'clang')
(3, 'Tony Stark', 50, 'jarvis')
(4, 'Steve Rogers', 32, 'english')
(5, 'Taehwan Yang', 35, 'cplus')

In [7]:
conn = lite.connect('../users.db')
#update data with with
with conn:
    cursor = conn.execute("select id, name, age, lang from users")
    for row in cursor:
        print("ID = ", row[0])
        print("Name = ", row[1])
        print("Age = ", row[2])
        print("Lang = ", row[3], "\n")

print("print complete")
conn.close()

ID =  1
Name =  Sam Smith
Age =  24
Lang =  english

ID =  2
Name =  Mary Jane
Age =  21
Lang =  clang

ID =  3
Name =  Tony Stark
Age =  50
Lang =  jarvis

ID =  4
Name =  Steve Rogers
Age =  32
Lang =  english

ID =  5
Name =  Taehwan Yang
Age =  35
Lang =  cplus

print complete

In [10]:
conn = lite.connect('../users.db')
print("DB Connected")
cur = conn.cursor()

with conn:
    conn.execute("update users set lang = 'python' where ID=4")
    conn.commit()
    print ("Total number of rows updated : ", conn.total_changes)

DB Connected
Total number of rows updated :  1

In [13]:
with conn:
    cursor = conn.execute("select id, name, age, lang from users")
    for row in cursor:
        print("ID = ", row[0])
        print("Name = ", row[1])
        print("Age = ", row[2])
        print("Lang = ", row[3], "\n")
conn.close()

ID =  1
Name =  Sam Smith
Age =  24
Lang =  english

ID =  2
Name =  Mary Jane
Age =  21
Lang =  clang

ID =  3
Name =  Tony Stark
Age =  50
Lang =  jarvis

ID =  4
Name =  Steve Rogers
Age =  32
Lang =  python

ID =  5
Name =  Taehwan Yang
Age =  35
Lang =  cplus

In [15]:
#delete row
conn = lite.connect('../users.db')
print("DB connected \n")

with conn:
    conn.execute("DELETE from users where ID=2;")
    conn.commit()
    print ("Total number of rows deleted :", conn.total_changes)

    cursor = conn.execute("select id, name, age, lang from users")
    for row in cursor:
        print("ID = ", row[0])
        print("Name = ", row[1])
        print("Age = ", row[2])
        print("Lang = ", row[3], "\n")
conn.close()

DB connected

Total number of rows deleted : 1
ID =  1
Name =  Sam Smith
Age =  24
Lang =  english

ID =  3
Name =  Tony Stark
Age =  50
Lang =  jarvis

ID =  4
Name =  Steve Rogers
Age =  32
Lang =  python

ID =  5
Name =  Taehwan Yang
Age =  35
Lang =  cplus